# This file tells git that it should not track certain files.

*.swp
*~
*.DS_Store

*.ipynb_checkpoints
*.ipython
*.jupyter
*.local
*.viminfo
*cpython-38.pyc

*.cache
*.config
*.bash_history

*.jpg
*.nc
